.brands {
    box-sizing: border-box;
    min-width: 320px;
    padding-left: 16px;
}

.brands__title {
    box-sizing: border-box;
    height: 80px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7E7E82;
    padding-top: 16px;

    background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98%);
}

.swiper__brands-block {
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding: 0 16px;

    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-ar {
    border: 2px solid #FF3E79;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: inherit;
    background-image: url(../assets/img/icons/arrow-right.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.brands__btn-more {
    display: none;
}