.brands {
    box-sizing: border-box;
    min-width: 320px;
    /* max-height: 234px; */
    padding-left: 16px;
}

.brands__title {
    box-sizing: border-box;
    height: 80px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7E7E82;
    padding-top: 16px;

    background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98%);
}

.swiper-brands {
    min-height: 154px;
}

.swiper-brands__gradient {
    position: absolute;
    top: 16px;
    right: 0;
    z-index: 10;
}

.swiper-brands__gradient::before {
    content: "";
    background: url("../assets/img/images/fade-swiper.png") no-repeat;
    position: relative;
    right: 0;
    display: block;
    height: 72px;
    width: 24px;
}

.swiper-brands__wrapper div.swiper-brands__slide {
    width: 256px;
}

.swiper-brands__block {
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding: 0 16px;
    margin-top: 16px;

    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-ar {
    border: 2px solid #FF3E79;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: inherit;
    background-image: url(../assets/img/icons/arrow-right.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.swiper-brands__pagination {
    top: 70%;
}

.swiper-brands__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #B5B6BC;
}

.brands__btn-more {
    display: none;
}

@media (min-width: 768px) {

    .swiper-brands {
        height: auto;
    }

    .swiper-brands__wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        overflow-y: hidden;
        height: 168px;
    }

    .swiper-brands__slide {
        width: 224px;
    }

    .brands__btn-more {
        display: flex;
    }

}