.aside-panel {
    display: none;
}

@media (min-width: 768px) {

    .header {
        /* display: none; */
    }

    .main {
        /* display: none; */
    }

    .aside-panel {
        max-width: 320px;
        height: 100%;
        position: fixed;
        left: 0;
        /* display: flex; */
        flex-direction: column;

        border: olivedrab dashed 1px;
    }

    .panel-menu {
        flex: 1 1 auto;
    }

}

@media (min-width: 1440px) {

    .aside-panel {
        display: none;
    }

    .main {
        display: contents;
    }

}