@import url(../fonts/TTLakes/stylesheet.css);

.wrapper {
    font-family: 'TT Lakes';
    color: #1B1C21;
}

.header {
    border-bottom: 1px solid #D9FFF5;
}

.head-menu {
    min-height: 88px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.head-menu__button {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.head-menu__burger-logo {
    width: 188px;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    position: relative;
}

.head-menu__burger {    
    background-image: url('../img/icons/icon-burger.svg');
}

.head-menu__logo {
    background-color: white;
    border: none;
    width: 97px;
    height: 51px;
    background-image: url('../img/icons/logo.svg');
}

.add__icons {
    display: none;
}

.head-menu__call {
    background-image: url('../img/icons/icon-call.svg');
}

.head-menu__chat {
    background-image: url('../img/icons/icon-chat.svg');
}

.head-menu__profile {
    background-image: url('../img/icons/Group-profile.svg');
}

.head-menu__icons {
    width: 134px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.head-menu__repair {
    background-image: url('../img/icons/Group-repair.svg');
}

.head-menu__checkstatus {
    background-image: url('../img/icons/icon-checkstatus.svg');
}

.head-menu__icons::before {
    content: "";
    position: relative;
    right: 9px;
    width: 0px;
    height: 30px;
    border: #EAEAEA solid 1px;
    border-radius: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__title {
    margin-left: 12px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.menu__title::before {
    content: "";
    position: relative;
    right: 13px;
    width: 0px;
    height: 40px;
    border-right: #41F6D7 solid 4px;
    border-radius: 0 4px 4px 0;
}

.add-btn {
    display: none;
}

.slide-menu {
    margin-left: 20px;
    display: flex;
    overflow-x: scroll;
    list-style: none;
    width: auto; 
    min-height: 40px; 
    padding: 0px;
    white-space: nowrap; 
}

.slide-menu__gradient {
    position: absolute;
    right: 0;
}

.slide-menu__gradient::before {
    content: "";
    background: url("../img/images/fade.png") no-repeat;
    position: relative;
    display: block;
    height: 40px;
    width: 24px;
}

.slide-menu__button {
    display: block;
    margin: 0px;
    padding: 8px 15px;
    background-color: white;
    border: none;
}

.slide-menu__button:active {
    border: #90f8e7 solid 2px;
    border-radius: 5px;
    padding: 6px 13px;
}

.content {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__description {
    margin: 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.content__text {
    margin-bottom: 1.3em;
    max-height: 90px;
    overflow: hidden;
}

.read-more {
    margin: 16px;
    padding: 0;
    height: 24px;
    width: 120px;
    border: none;
    background-color: white;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.read-more::before {
    content: "";
    background-image: url("../img/icons/arrow.png");
    width: 8px;
    height: 11px;
}

.content__image {
    width: 320px;
    height: 176px;
}

@media (min-width: 768px) {

    .head-menu__burger-logo {
        position: relative;
    }

    .head-menu__burger-logo::before {
        content: "";
        position: relative;
        left: 71px;
        width: 0px;
        height: 30px;
        border: #EAEAEA solid 1px;
        border-radius: 1px;
    }

    .head-menu__logo{
        position: relative;
        left: 25px;
    }

    .add__icons {
        width: 180px;
        height: 40px;
        position: relative;
        margin-right: 16px;
        display: flex;
        justify-content: space-evenly;
    }

    .head-menu__icons {
        position: relative;
        right: 10px;
    }

    .main {
        background-color: #F8F8F8;
    }

    .menu {
        margin-left: 10px;
    }

    .menu__title::before {
        right: 21px;
    }

    .slide-menu {
        margin-bottom: 22px;
    }

    .slide-menu__button {
        background-color: #F8F8F8;
    }

    .content {        
        margin-left: 24px;
        min-width: 720px;
        max-height: 208px;
        flex-wrap: wrap;
    }

    .content__description {
        margin: 0;
        width: 312px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    .content__text {
        width: auto;
        max-height: 160px;
    }

    .read-more {
        margin: 10px;
        margin-left: 2px;
        background-color: #F8F8F8;
    }

    .content__image {
        margin-left: 48px;
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }

    }

    @media (min-width: 1120px) {

        .header {
            display: none;
        }

        .menu {
            padding-top: 30px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .add-btn {
            width: 400px;
            margin-right: 25px;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.2px;
        }

        .head-menu__icons::before {
            display: none;
        }

        .add-btn__repair {
            margin-right: 156px;
        }

        .add-btn__repair::before {
            content: "Оставить  отзыв";
            display: block;
            position: relative;
            right: 150px;
            height: 24px;
            width: 140px;
            padding: 8px;
        }

        .add-btn__checkstatus::before {
            content: "Статус ремонта";
            display: block;
            position: relative;
            right: 150px;
            height: 24px;
            width: 140px;
            padding: 8px;
        }

        .slide-menu {
            overflow: visible;
            display: flex;
            flex-wrap: wrap;
            max-width: 1063px; 
            min-height: 80px;
            margin-top: 10px;
            margin-bottom: 0;
            padding: 0px;
            white-space:normal;
        }

        .slide-menu__gradient {
            display: none;
        }

        .slide-menu__button {
            display: block;
            max-height: 40px;
            vertical-align: middle;
            white-space: nowrap;
        }

        .slide-menu__button:active {
            border: #90f8e7 solid 2px;
            border-radius: 5px;
            padding: 6px 13px;
            margin-bottom: 0;
        }

        .slide-menu__button-visibility {
            display: none;
        }

        .content {
            min-width: 1057px; 
            min-height: 307px;
        }

        .content__description {
            width: 490px; 
            height: 160px;
            margin-top: 5px;
        }

        .read-more {
            background-color: #F8F8F8;
        }

        .content__image {
            width: 532px; 
            height: 307px;
        }

    }