.brands {
    box-sizing: border-box;
    width: 95%;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.brands__title {
    box-sizing: border-box;
    height: auto;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7E7E82;
    padding: 16px 0;

    background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98%);
}

.swiper-brands {
    min-height: 154px;
    margin: 0;
    padding: 16px;
}

.swiper-brands__gradient {
    position: absolute;
    top: 16px;
    right: 0;
    z-index: 2;
}

.swiper-brands__gradient::before {
    content: "";
    background: url("../assets/img/images/fade-swiper.png") no-repeat;
    position: relative;
    right: 0;
    display: block;
    height: 72px;
    width: 24px;
}

.swiper-brands__wrapper li.swiper-brands__slide {
    width: auto;
}

.swiper-brands__block {
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding: 0 16px;
    margin: 16px;
    margin-left: 0;

    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-ar {
    box-sizing: border-box;
    border: 2px solid #FF3E79;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: inherit;
    background-image: url(../assets/img/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn-ar:active {
    height: 41px;
    width: 41px;
}

.btn-ar:hover {
    background-size: 32%;
}

.swiper-brands__pagination {
    top: 70%;
}

.swiper-brands__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #B5B6BC;
}

.brands__btn-more {
    display: none;
}

@media (min-width: 768px) {

    .brands {
        padding-bottom: 34px;
    }

    .swiper-brands {
        height: auto;
        padding: 24px 0;
    }

    .swiper-brands__gradient {
        display: none;
    }

    .swiper-brands__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
        column-gap: 24px;
        row-gap: 16px;
        overflow-y: hidden;
        height: 160px;
    }

    .swiper-brands__wrapper--open {
        height: auto;
    }

    .swiper-brands__slide {
        width: 224px;
    }

    .swiper-brands__block {
        width: 224px;
        margin: 0;
    }

    .brands__btn-more {
        display: flex;
    }

}

@media (min-width: 1120px) {

    .swiper-brands__wrapper {
        column-gap: 32px;
    }

    .swiper-brands__block {
        width: 240px;
    }

}