@import url(../fonts/TTLakes/stylesheet.css);

.wrapper {
    width: 320px;
    height: 597px;
    margin: 0 auto;
    font-family: 'TT Lakes';
    color: #1B1C21;
}

.header {
    border-bottom: 1px solid #D9FFF5;
}

.head-menu {
    height: 88px;
    width: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.head-menu__button {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.head-menu__burger-logo {
    width: 188px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    position: relative;
}

.head-menu__burger {    
    background-image: url('/img/icons/icon-burger.svg');
}

.head-menu__logo {
    background-color: white;
    border: none;
    width: 97px;
    height: 51px;
    background-image: url('../img/icons/logo.svg');
}

.add__icons {
    display: none;
}

.head-menu__call {
    background-image: url('/img/icons/icon-call.svg');
}

.head-menu__chat {
    background-image: url('/img/icons/icon-chat.svg');
}

.head-menu__profile {
    background-image: url('/img/icons/Group-profile.svg');
}

.head-menu__icons {
    width: 134px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.head-menu__repair {
    background-image: url('/img/icons/Group-repair.svg');
}

.head-menu__checkstatus {
    background-image: url('/img/icons/icon-checkstatus.svg');
}

.head-menu__icons::before {
    content: "";
    position: relative;
    right: 9px;
    width: 0px;
    height: 30px;
    border: #EAEAEA solid 1px;
    border-radius: 1px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav__title {
    margin-left: 12px;
}

.nav__text {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.nav__text::before {
    content: "";
    position: relative;
    right: 13px;
    width: 0px;
    height: 40px;
    border-right: #41F6D7 solid 4px;
    border-radius: 0 4px 4px 0;
}

.add-btn {
    display: none;
}

.block__text--visibility {
    display: none;
}

.slide-menu {
    margin-left: 20px;
    overflow-x: scroll; 
    width: auto; 
    height: 40px; 
    padding: 0px;
    white-space: nowrap; 
    position: relative;
}

.slide-menu::after {
    content: "";
    position: absolute;
    right: 0px;
    height: 40px;
    width: 24px;
    background: url("../img/images/fade.png") no-repeat;
    background-size: 24px 40px;
}

.slide-menu__button {
    height: 40px;
    margin: 0px;
    padding: 0 15px;
    background-color: white;
    border: none;
}

.slide-menu__button:active {
    border: #90f8e7 solid 2px;
    border-radius: 5px;
}

.slide-menu__text {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.block {
    
    margin-top: 20px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block__text {
    margin: 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.read-more {
    margin: 16px;
    padding: 0;
    height: 24px;
    width: 134px;
    border: none;
    background-color: white;
    display: flex;    
    justify-content: space-between;
}

.read-more__icon {
    margin-top: 2px;
    height: 24px;
    width: 24px;
    position: relative;
    left: 0px;
}

.read-more__arrow {
    height: 10px;
    width: 7.5px;
}

.read-more__text {
    margin: 0;
    height: 24px;
    width: 102px;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.block1__image {
    width: 320px;
    height: 176px;
}

@media (min-width: 768px) {

    .wrapper {
        width: 768px;
        height: 504px;
        margin: 0 auto;
        font-family: 'TT Lakes';
    }

    .head-menu__burger-logo {
        position: relative;
    }

    .head-menu__burger-logo::before {
        content: "";
        position: relative;
        left: 71px;
        width: 0px;
        height: 30px;
        border: #EAEAEA solid 1px;
        border-radius: 1px;
    }

    .head-menu__logo{
        position: relative;
        left: 25px;
    }

    .add__icons {
        width: 180px;
        height: 40px;
        position: relative;
        left: 125px;
        display: flex;
        justify-content: space-evenly;
    }

    .head-menu__icons {
        position: relative;
        right: 10px;
    }

    .container {
        background-color: #F8F8F8;
    }

    .nav {
        margin-left: 10px;
        height: 152px;
    }

    .nav__text::before {
        right: 21px;
    }

    .slide-menu {
        margin: 0 0 0 22px;
    }

    .slide-menu__button {
        background-color: #F8F8F8;
    }

    .block {        
        margin-left: 24px;
        width: 720px;
        height: 208px;
        flex-wrap: wrap;
    }

    .block__text {
        margin: 0;
        width: 312px;
        height: 160px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    .block__text2 {
        display: contents;
    }

    .read-more {
        margin: 10px;
        margin-left: 2px;
        background-color: #F8F8F8;
    }

    .block1__image {
        margin-left: 48px;
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }

    }

    @media (min-width: 1120px) {

        .wrapper {
            width: 1120px;
            height: 535px;
        }

        .header {
            display: none;
        }

        .nav {
            padding-top: 30px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .add-btn {
            width: 235px;
            margin-right: 25px;
            display: flex;
            justify-content: space-between;
            align-self: center;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.2px;
        }

        .head-menu__icons::before {
            display: none;
        }

        .add-btn__repair::before {
            content: "Оставить  отзыв";
            display: block;
            position: relative;
            right: 150px;
            height: 24px;
            width: 140px;
            padding: 8px;
        }

        .add-btn__checkstatus::before {
            content: "Статус ремонта";
            display: block;
            position: relative;
            right: 150px;
            height: 24px;
            width: 140px;
            padding: 8px;
        }

        .slide-menu {
            overflow: visible;
            width: 1063px; 
            height: 82px;
            margin-top: 10px;
            padding: 0px;
            white-space:normal;
        }

        .slide-menu__button-visibility {
            display: none;
        }

        .slide-menu__button {
            margin-bottom: 5px;
        }

        .block {
            width: 1057px; 
            height: 307px;
        }

        .block__text {
            width: 490px; 
            height: 160px;
            margin-top: 5px;
        }

        .block__text3 {
            display: contents;
        }

        .read-more {
            margin-bottom: 100px;
            background-color: #F8F8F8;
        }

        .block1__image {
            width: 532px; 
            height: 307px;
        }

    }