.form {
    display: block;
    height: 61px;
    width: 500px;
    margin: 61px auto 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #000000;
}

.input {
    display: block;
    height: 61px;
    width: 500px;
}