.btn-more {
    height: 24px;
    padding: 0;
    padding-left: 8px;
    border: none;
    background-color: inherit;
    display: flex;    
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-more:hover {
    filter: opacity(0.6);
}

.btn-more::before {
    content: "";
    background-image: url("../img/icons/arrow.png");
    width: 8px;
    height: 11px;
}

.btn-more--active::before {
    transform: rotate(0.5turn);
}