.content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;

    .content__description {
        margin: 0 16px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
    }

    .content__text {
        margin-bottom: 1.3em;
        transition: 1s;
    }

    .content__text--hidden {
        max-height: 90px;
        overflow: hidden;
    }

    .content__image {
        width: 100%;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 48px;
        padding-bottom: 32px;

        .content__description {
            margin-left: 24px;
            margin-bottom: 0;
            flex-grow: 1;
        }
    
        .content__text {
            width: auto;
        }

        .content__text--hidden {
            max-height: 160px;
            overflow: hidden;
        }

        .content__image {
            position: static;
            padding: 0;
            flex-grow: 1;
            flex-shrink: 0;
            border-radius: 6px;
            width: 360px;
            height: 100%;
            padding-right: 24px;
        }
    }

    @media (min-width: 1440px) {
        padding-top: 30px;
        padding-bottom: 51px;

        .content__description {
            padding-top: 10px;
        }

        .content__image {
            width: 532px;
        }
    }
}