.footer {
    border-top: 1px solid $block-border-color;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-backgound-color;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: $text-selected;
    
    &__info-design {
        margin-bottom: 16px;
        text-decoration: inherit;
        color: inherit;
    }

    &__confidencial {
        margin-bottom: 16px;
        text-decoration: inherit;
        color: inherit;
    }

    &__info-publish {
        text-decoration: inherit;
        color: inherit;
    }

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 24px;
        padding-top: 32px;

        &__info-design {
            margin-bottom: auto;
            text-align: start;
        }

        &__confidencial {
            margin-bottom: auto;
        }

        &__info-publish {
            text-align: end;
        }
    }
}