.icon-btn {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $btn-bg-color;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        filter: opacity(0.6);
    }
}