.overlay {
    display: none;
        transition: 1s; 

    &--visibility--on {
        display: block;
        width: 100vw;
        height: 100vh;
        filter: opacity(0.95);
        position: fixed;
        z-index: 2;
        background: white;
        transition: 1s; 
    }
}