.panel-feedback {
    max-width: 440px;
    height: 100%;
    background: $light-backgound-color;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 3;
    
    &--layuot--right {
        position: fixed;
        right: 0;
        transition: 1s;
        box-shadow: -2px 0 40px rgba(69, 79, 126, .4),
        -16px 0px 52px rgba(14, 24, 80, .2);
    }

    &--hidden {
        transform: translateX(150%);
    }

    &__inner {
        margin-left: 16px;
    }

    &__close {
        background-image: url(../img/icons/icon-close.svg);
        margin-top: 25px;

        @media (min-width: 1440px) {
            position: fixed;
            transform: translate(-82px, 10px);
            overflow: visible;
            z-index: 5;
        }
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 24px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            transform: translate(-16px, -5px);
            height: 40px;
            border-right: $text-ind-color solid 4px;
            border-radius: 0 4px 4px 0;
        }
    }

    &__field {
        height: 48px;
        width: 95%;
        margin: auto;
        margin-bottom: 16px;
        padding-left: 16px;

        box-sizing: border-box;
        min-width: 288px;
        height: 48px;
        border: 1px solid $btn-border-color;
        border-radius: 8px;
    }

    &__text {
        height: 118px;
    }

    &__warn {
        margin-right: 16px;
        padding-right: 16px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    &__warn-link {
        text-decoration: none;
        color: $btn-bg-color;
    }

    &__btn {
        float: right;
        margin-right: 5%;
        margin-bottom: 20px;

        &:hover {
            filter: opacity(0.6);
        }
    }
}