.panel-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  min-height: 88px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-header .panel-header__close {
  background-image: url("../img/icons/icon-close.svg");
}

.panel-header .panel-header__logo {
  margin-left: 16px;
  margin-right: auto;
}

.panel-header .panel-header__search {
  background-image: url("../img/icons/icon-search.svg");
}

.panel-menu {
  padding: 0 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 16px;
}

.panel-menu .panel-menu__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 24px;
}

.panel-menu .panel-menu__a {
  display: block;
  padding: 4px;
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.panel-menu .panel-menu__a--selected {
  color: #7E7E82;
}

.panel-menu .panel-menu__a--selected::before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: translate(-28px, -5px);
          transform: translate(-28px, -5px);
  height: 32px;
  border-right: #41F6D7 solid 4px;
  border-radius: 0 4px 4px 0;
}

.panel-contact {
  margin-top: 16px;
  padding: 0 24px;
}

.panel-contact .panel-contact__mail {
  margin-top: 16px;
}

.panel-contact .panel-contact__number-phone {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}

.lang-select {
  margin-top: 40px;
  margin-bottom: 32px;
}

.lang-select__btn {
  background: inherit;
  border: none;
  padding: 0;
  margin-right: 5px;
  font-weight: inherit;
  font-size: inherit;
}

.lang-select__btn--active {
  color: #7E7E82;
}

.aside-panel {
  max-width: 320px;
  height: 100%;
  font-weight: 600;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  z-index: 3;
}

.aside-panel--layuot--left {
  position: fixed;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.aside-panel--open {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
