.brands {
  border-top: 1px solid #D9FFF5;
}

.brands .brands__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.brands .brands__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #7E7E82;
  padding: 16px 0;
  background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), color-stop(98%, #FFFFFF));
  background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98%);
}

.brands .brands__btn-more {
  display: none;
}

@media (min-width: 768px) {
  .brands .brands__inner {
    padding-bottom: 34px;
  }
}
