.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 24px;
}

.content .content__description {
  margin: 0 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.content .content__text {
  margin-bottom: 1.3em;
  -webkit-transition: 1s;
  transition: 1s;
}

.content .content__text--hidden {
  max-height: 90px;
  overflow: hidden;
}

.content .content__image {
  width: 100%;
}

@media (min-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 48px;
            column-gap: 48px;
    padding-bottom: 32px;
  }
  .content .content__description {
    margin-left: 24px;
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .content .content__text {
    width: auto;
  }
  .content .content__text--hidden {
    max-height: 160px;
    overflow: hidden;
  }
  .content .content__image {
    position: static;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 6px;
    width: 360px;
    height: 100%;
    padding-right: 24px;
  }
}

@media (min-width: 1440px) {
  .content {
    padding-top: 30px;
    padding-bottom: 51px;
  }
  .content .content__description {
    padding-top: 10px;
  }
  .content .content__image {
    width: 532px;
  }
}
