.btn-more {
  height: 24px;
  padding: 0;
  padding-left: 8px;
  border: none;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-more:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.btn-more::before {
  content: "";
  background-image: url("../img/icons/arrow.png");
  width: 8px;
  height: 11px;
}

.btn-more--active::before {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content__description {
  margin: 0 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.content .content__text {
  margin-bottom: 1.3em;
  -webkit-transition: 1s;
  transition: 1s;
}

.content .content__text--hidden {
  max-height: 90px;
  overflow: hidden;
}

.content .content__image {
  width: 100%;
}

@media (min-width: 768px) {
  .content {
    margin-left: 24px;
    min-width: 720px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
  .content .content__description {
    margin: 0;
    width: 312px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .content .content__text {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .content .content__text--hidden {
    max-height: 160px;
    overflow: hidden;
  }
  .content .content__image {
    position: static;
    padding: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 6px;
    width: 360px;
    height: 100%;
    padding-right: 24px;
  }
}
