.header {
  border-bottom: 1px solid #D9FFF5;
}

.header .header__inner {
  min-height: 88px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__burger {
  margin-right: 16px;
  background-image: url("../img/icons/icon-burger.svg");
  position: relative;
}

.header .header__logo {
  margin-right: auto;
}

.header .header__soical-icons {
  display: none;
}

.header .tech-icons::before {
  content: "";
  position: relative;
  right: 20px;
  width: 0px;
  height: 30px;
  border: #EAEAEA solid 1px;
  border-radius: 1px;
}

@media (min-width: 768px) {
  .header .header__inner {
    width: 95%;
    position: relative;
  }
  .header .header__soical-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
  }
  .header .header__burger {
    margin-right: 40px;
  }
  .header .header__inner::before {
    content: "";
    position: absolute;
    left: 60px;
    width: 0px;
    height: 30px;
    border: #EAEAEA solid 1px;
    border-radius: 1px;
  }
}

@media (min-width: 1440px) {
  .header {
    display: none;
  }
}
