@charset "UTF-8";
.main-menu {
  min-height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-menu .main-menu__title {
  margin-left: 12px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main-menu .main-menu__title::before {
  content: "";
  position: relative;
  right: 13px;
  width: 0px;
  height: 40px;
  border-right: #41F6D7 solid 4px;
  border-radius: 0 4px 4px 0;
}

.main-menu .main-menu__tech-icons {
  display: none;
}

.main-menu .main-menu__slider {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  list-style: none;
  vertical-align: center;
  width: auto;
  min-height: 40px;
  padding: 0px;
  white-space: nowrap;
}

.main-menu .main-menu__slide-gradient {
  position: absolute;
  right: 0;
}

.main-menu .main-menu__slide-gradient::before {
  content: "";
  background: url("../img/images/fade.png") no-repeat;
  position: relative;
  display: block;
  height: 40px;
  width: 24px;
}

.main-menu .main-menu__btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 10px 15px;
  padding-bottom: 2;
  border: none;
}

.main-menu .main-menu__btn:active {
  border: #90f8e7 solid 2px;
  border-radius: 5px;
  padding: 8px 13px;
}

.main-menu .main-menu__btn--hidden {
  display: none;
}

@media (min-width: 1440px) {
  .main-menu {
    padding-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-menu .main-menu__tech-icons {
    width: 400px;
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
  }
  .main-menu .main-menu__repair {
    margin-right: 156px;
    cursor: pointer;
  }
  .main-menu .main-menu__repair::before {
    content: "Оставить  отзыв";
    display: block;
    position: relative;
    right: 150px;
    height: 24px;
    width: 140px;
    padding: 8px;
  }
  .main-menu .main-menu__checkstatus {
    cursor: pointer;
  }
  .main-menu .main-menu__checkstatus::before {
    content: "Статус ремонта";
    display: block;
    position: relative;
    right: 150px;
    height: 24px;
    width: 140px;
    padding: 8px;
  }
  .main-menu .main-menu__slider {
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1063px;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0px;
    white-space: normal;
  }
  .main-menu .main-menu__slide-gradient {
    display: none;
  }
  .main-menu .main-menu__btn {
    display: block;
    max-height: 40px;
    vertical-align: middle;
    white-space: nowrap;
  }
  .main-menu .main-menu__btn:active {
    border: #90f8e7 solid 2px;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 0;
  }
}
