.btn-ar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #FF3E79;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: inherit;
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-ar .btn-ar:active {
  height: 41px;
  width: 41px;
}

.btn-ar .btn-ar:hover {
  background-size: 32%;
}

.swiper-brands {
  min-height: 154px;
  margin: 0;
  padding: 16px;
}

.swiper-brands .swiper-brands__gradient {
  position: absolute;
  top: 16px;
  right: 0;
  z-index: 2;
}

.swiper-brands .swiper-brands__gradient::before {
  content: "";
  background: url("../img/images/fade-swiper.png") no-repeat;
  position: relative;
  right: 0;
  display: block;
  height: 72px;
  width: 24px;
}

.swiper-brands .swiper-brands__wrapper li.swiper-brands__slide {
  width: auto;
}

.swiper-brands .swiper-brands__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  height: 72px;
  padding: 0 16px;
  margin: 16px;
  margin-left: 0;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-brands .swiper-brands__pagination {
  top: 70%;
}

.swiper-brands .swiper-brands__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #B5B6BC;
}

@media (min-width: 768px) {
  .swiper-brands {
    height: auto;
    padding: 24px 0;
  }
  .swiper-brands .swiper-brands__gradient {
    display: none;
  }
  .swiper-brands .swiper-brands__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(224px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 16px;
    overflow-y: hidden;
    height: 160px;
  }
  .swiper-brands .swiper-brands__wrapper--open {
    height: auto;
  }
  .swiper-brands .swiper-brands__slide {
    width: 224px;
  }
  .swiper-brands .swiper-brands__block {
    width: 224px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .swiper-brands .swiper-brands__wrapper {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .swiper-brands .swiper-brands__block {
    width: 240px;
  }
}
