.aside-panel {
    width: 100%;
    height: 100%;
    font-weight: 600;
    background: $light-backgound-color;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 3;

    
    &--layuot--left {
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        box-shadow: 0 0 0 transparent;
        transition: 1s;
    }

    &--open {
        transform: translateX(0px);
        box-shadow: -2px 0 40px rgba(69, 79, 126, .4),
        16px 0px 52px rgba(14, 24, 80, .2);
    }

    @media (min-width: 360px) {
        max-width: 320px;
    }

    @media (min-width: 1440px) {
        transform: translateX(0px);
    }
}
