.icon__btn {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    .icon__btn:hover {
        filter: opacity(0.8);
    }
}