.lang-select {
    margin-top: 40px;
    margin-bottom: 32px;
    
    &__btn {
        background: inherit;
        border: none;
        padding: 0;
        margin-right: 5px;
        font-weight: inherit;
        font-size: inherit;

        &--active {
        color: $text-selected;
        }
    }
}