.overlay {
    display: none;

    .overlay--visibility--on {
        display: block;
        width: 100vw;
        height: 100vh;
        filter: opacity(0.95);
        position: absolute;
        z-index: 2;
        background: white;        
    }
}