.panel-header {
    box-sizing: border-box;
    min-width: 320px;
    min-height: 88px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .panel-header__close {
        background-image: url('../img/icons/icon-close.svg');
    }

    .panel-header__logo {
        margin-left: 16px;
        margin-right: auto;
    }

    .panel-header__search {
        background-image: url('../img/icons/icon-search.svg');
    }
}