
.panel-contact {
    margin-top: 16px;
    padding: 0 24px;

    .panel-contact__mail {
        margin-top: 16px;
    }

    .panel-contact__number-phone {
        margin-top: 12px;
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
    }    
}