@import "var";

.panel-menu {
    padding: 0 24px;
    flex: 1 1 auto;
    margin-top: 16px;

    .panel-menu__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 24px;
    }

    .panel-menu__a {
        display: block;
        padding: 4px;
        
        text-decoration: none;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $text-color;
        cursor: pointer;

        &:hover {
            filter: opacity(0.6);
        }

        &:active::before {
            content: "";
            display: block;
            position: absolute;
            transform: translate(-28px, -5px);
            height: 32px;
            border-right: $text-ind-color solid 4px;
            border-radius: 0 4px 4px 0;
        }
    }
}