.price {
    border-top: 1px solid $block-border-color;

    &__inner {
    box-sizing: border-box;
    width: 95%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    }

    &__title {
        box-sizing: border-box;
        height: auto;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #7E7E82;
        padding: 16px 0;

        background: linear-gradient(to right, $main-backgound-color 0%, $light-backgound-color 98%);
    }

    @media (min-width: 768px) {

        &__inner {
            padding-bottom: 34px;
        }
    }
}