.soical-icons {
    width: 152px;
    height: 40px;
    position: relative;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;

    .soical-icons__call {
        background-image: url('../img/icons/icon-call.svg');
    }

    .soical-icons__chat {
        background-image: url('../img/icons/icon-chat.svg');
    }

    .soical-icons__profile {
        background-image: url('../img/icons/Group-profile.svg');
    }
}