.swiper-price {
    min-height: 154px;
    margin: 0;
    padding: 16px;

    &__gradient {
        position: absolute;
        top: 16px;
        right: 0;
        z-index: 2;
    }

    &__gradient::before {
        content: "";
        background: url("../img/images/fade-price.png") no-repeat;
        position: relative;
        right: 0;
        display: block;
        height: 200px;
        width: 24px;
    }

    &__wrapper li.swiper-price__slide {
        width: auto;
        margin-bottom: 30px;
    }

    &__block {
        box-sizing: border-box;
        width: 260px;
        height: 200px;
        padding: 16px;
        margin: 16px;
        margin-left: 0;
        position: relative;

        border: 1px solid $btn-border-color;
        border-radius: 6px;
        background-color: $light-backgound-color;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        font-size: 14px;

        &:hover {
            filter: opacity(0.6);
        }
    }

    &__text-repair {
        display: block;
        position: relative;
        padding-top: 20px;
        margin-bottom: 16px;
        line-height: 18px;

        &::before {
            content: 'Ремонтные услуги';
            display: block;
            position: absolute;
            top: 0;
            color: $text-selected;
            line-height: 16px;
        }
    }

    &__text-price {
        display: block;
        position: relative;
        padding-top: 20px;
        margin-bottom: 16px;
        line-height: 18px;

        &::before {
            content: 'Цена';
            display: block;
            position: absolute;
            top: 0;
            color: $text-selected;
            line-height: 16px;
        }
    }

    &__text-time {
        display: block;
        position: relative;
        padding-top: 20px;
        line-height: 18px;

        &::before {
            content: 'Срок';
            display: block;
            position: absolute;
            top: 0;
            color: $text-selected;
            line-height: 16px;
        }
    }

    &__btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    &__pagination {
        top: 88%;
    }

    &__pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: $pagination-color;
    }

    @media (min-width: 768px) {
        display: none;
    }
}