$text-color: #1B1C21;
$main-backgound-color: #F8F8F8;
$light-backgound-color: #FFFFFF;
$block-border-color: #D9FFF5;

$btn-bg-color: #FF3E79;
$btn-border-color: #EAEAEA;
$border-color-active:#90f8e7;

$text-ind-color: #41F6D7;
$text-selected: #7E7E82;
$active-btn-color: #B8FFEC;

$pagination-color: #B5B6BC;