.wrapper {
    font-family: 'TT Lakes';
    color: $text-color;
    font-weight: 500;

    @media (min-width: 1440px) {
        padding-left: 320px;
        margin: 0 auto;
        max-width: 1120px;
    }
}