@import "var";

.brands {
    border-top: 1px solid $block-border-color;

    .brands__inner {
    box-sizing: border-box;
    width: 95%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    }

    .brands__title {
        box-sizing: border-box;
        height: auto;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #7E7E82;
        padding: 16px 0;

        background: linear-gradient(to right, $main-backgound-color 0%, $light-backgound-color 98%);
    }

    .brands__btn-more {
        display: none;
    }

    @media (min-width: 768px) {

        .brands__inner {
            padding-bottom: 34px;
        }

        
    }
}