@import url(../fonts/TTLakes/stylesheet.css);

@import "var";
@import "wrapper";
@import "overlay";

@import "icon-btn";
@import "soical-icons";
@import "tech-icons";
@import "btn-more";
@import "btn-ar";
@import "order-btn";

@import "aside-panel";
@import "panel-header";
@import "panel-menu";
@import "panel-contact";
@import "lang-select";

@import "panel-call";

@import "panel-feedback";

@import "header";

@import "main";
@import "main-menu";

@import "content";

@import "brands";
@import "swiper-brands";

@import "tech";
@import "swiper-tech";

@import "price";
@import "swiper-price";
@import "price-table";

@import "footer";
