@import url(../fonts/TTLakes/stylesheet.css);

@import "var";

.wrapper {
    font-family: 'TT Lakes';
    color: $text-color;


    .main {
        background: $main-backgound-color;
    }

    @media (min-width: 1440px) {
        padding-left: 320px;
        margin: 0 auto;
        max-width: 1120px;
    }
}