
    .overlay {
        display: none;
    }

    .overlay--visibility--on {
        display: block;
        width: 100vw;
        height: 100vh;
        filter: opacity(0.95);
        position: absolute;
        z-index: 2;
        background: white;        
    }

    .aside-panel {
        max-width: 320px;
        height: 100%;
        font-weight: 600;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        z-index: 3;
    }

    .aside-panel--layuot--left {
        position: fixed;
        left: 0;
        /* transform: translateX(-100%); */
        box-shadow: 0 0 0 transparent;
        transition: 1s;
    }

    .aside-panel--open {
        transform: translateX(0px);
        box-shadow: 
        -2px 0px 4px rgb(69 79 126 / 2%),
        16px 0px 52px rgb(14 24 80 / 20%);
    }

    .panel-header {
        box-sizing: border-box;
        min-width: 320px;
        min-height: 88px;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .panel-header__close {
        background-image: url('../img/icons/icon-close.svg');
    }

    .panel-header__logo {
        margin-left: 16px;
        margin-right: auto;
    }

    .panel-header__search {
        background-image: url('../img/icons/icon-search.svg');
    }

    .panel-menu {
        padding: 0 24px;
        flex: 1 1 auto;
    }

    .panel-menu__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 24px;
    }

    .panel-menu__a {
        display: block;
        padding: 4px;

        text-decoration: none;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .panel-menu__a--active {
        color: #7E7E82;
    }

    .panel-menu__a--active::before {
        content: "";
        display: block;
        position: absolute;
        transform: translate(-28px, -5px);
        height: 32px;
        border-right: #41F6D7 solid 4px;
        border-radius: 0 4px 4px 0;
    }

    .panel-contact {
        margin-top: 16px;
        padding: 0 24px;
    }

    .panel-contact__mail {
        margin-top: 16px;
    }

    .panel-contact__number-phone {
        margin-top: 12px;
        font-size: 24px;
        line-height: 32px;
    }

    .lang-select {
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .lang-select__btn--active {
        color: #7E7E82;
    }