@import url(../fonts/TTLakes/stylesheet.css);

$general-color: #1B1C21;
$block-border-color: #D9FFF5;
$icon-bg-color: #FF3E79;
$main-bg-color: #F8F8F8;
$light-bg-color: white;
$divider-color: #EAEAEA;
$text-ind-color: #41F6D7;
$active-btn-color: #90f8e7;

.wrapper {
    font-family: 'TT Lakes';
    color: #1B1C21;
}