@import "var";
@import "btn-ar";

.swiper-tech {
    min-height: 154px;
    margin: 0;
    padding: 16px;

    &__gradient {
        position: absolute;
        top: 16px;
        right: 0;
        z-index: 2;
    }

    &__gradient::before {
        content: "";
        background: url("../img/images/fade-tech.png") no-repeat;
        position: relative;
        right: 0;
        display: block;
        height: 72px;
        width: 24px;
    }

    &__wrapper li.swiper-tech__slide {
        width: auto;
        margin-bottom: 36px;
    }

    &__block {
        box-sizing: border-box;
        width: 240px;
        height: 160px;
        padding: 16px;
        margin: 16px;
        margin-left: 0;

        border: 1px solid $btn-border-color;
        border-radius: 6px;
        background-color: $main-backgound-color;

        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__text {
        display: block;
    }

    &__btn {
        align-self: flex-end;
    }

    &__pagination {
        top: 85%;
    }

    &__pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: $pagination-color;
    }

    @media (min-width: 768px) {
        height: auto;
        padding: 24px 0;
    
        &__gradient {
            display: none;
        }
    
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
            column-gap: 24px;
            row-gap: 16px;
            overflow-y: hidden;
            height: 160px;
            padding: 16px 0;
        }
    
        &__wrapper--open {
            height: auto;
        }
    
        &__slide {
            width: 224px;
        }
    
        &__block {
            width: 224px;
            margin: 0;
        }
    }

    @media (min-width: 1440px) {

        &__wrapper {
            column-gap: 32px;
        }
    
        &__block {
            width: 240px;
        }    
    }
}